.heading{
    width: 80%;
    font: size 22px;
}
body{
    color: black;
    background-color: lightblue;
}
.pic,#objectname,#accurate{
    color: crimson;
}
#camera,#result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}